<div class="container">
    <div class="header">
        <h1 class="title" [routerLink] = "['/home']" >Piano Store</h1>
        <div class="component">
          <button class="home" [routerLink] = "['/home']" >Home</button>
          <button class="about">About Us</button>
          <button [routerLink] = "['/cart']" class="cart"><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
        <!-- <button (click)="openDialog()" class="add-button">ADD PIANO</button> -->
      </div>
</div>