.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50%;
  border-radius: 30px;
}

form {

  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 6px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
