<div class="container">
    <div id="c1">
      <h3>Công ty âm nhạc</h3>
      <h3>Liên hệ</h3>
      <div>
        <img
          src="https://file.hstatic.net/1000075078/file/map-pin-2-line_575ccb91b6f94a308d1bd507d4ae72a7.png"
          alt=""
        />Showroom 1: 613 Điện Biên Phủ, Phường 1, Quận 3, TP. Hồ Chí Minh
      </div>
      <div>
        <img
          src="https://file.hstatic.net/1000075078/file/phone_0a42df1c753c4fa0910108daa73fe2ef.png"
          alt=""
        />Hotline: 0909046613
      </div>
      <div>
          <img
            src="https://file.hstatic.net/1000075078/file/map-pin-2-line_575ccb91b6f94a308d1bd507d4ae72a7.png"
            alt=""
          />Showroom 2: 951 Phạm Văn Thuận, Tân Mai, Biên Hoà
        </div>
        <div>
          <img
            src="https://file.hstatic.net/1000075078/file/phone_0a42df1c753c4fa0910108daa73fe2ef.png"
            alt=""
          />Hotline: 0908868951
        </div>
     
      <div>Liên hệ báo giá sỉ: qwefa-borderil.com
      </div>
    </div>
    <div id="c2">
      <h3>Chính sách</h3>
      <div>Chính sách bảo hành</div>
      <div>Phương thức thanh toán</div>
      <div>Hướng dẫn mua hàng</div>
      <div>Liên hệ</div>
      <div>Giới thiệu </div>
  
  
    </div>
    <div id="c3">
      <div class="hotline_footer">
        <img
          src="https://file.hstatic.net/1000075078/file/phone_0a42df1c753c4fa0910108daa73fe2ef.png"
          alt=""
        />
        Đặt hàng: 1800 6936
      </div>
      <div id="c4">
        <img
          src="https://file.hstatic.net/1000075078/file/map-pin-2-line_575ccb91b6f94a308d1bd507d4ae72a7.png"
          alt=""
        />
        Liên hệ
        <div id="btft">
          Tầng 3-4 Hub Building <br />
          195/10E Điện Biên Phủ, P.15, <br />
          Q.Bình Thạnh, TP.Hồ Chí Minh
        </div>
      </div>
    </div>
  </div>
  