<div class="container">
  <div class="header">
    <h1 class="title">Piano Store</h1>
    <div class="component">
      <button class="home">Home</button>
      <button class="about">About Us</button>
      <button class="cart"><mat-icon>add_shopping_cart</mat-icon></button>
    </div>
    <!-- <button (click)="openDialog()" class="add-button">ADD PIANO</button> -->
  </div>
  <div class="main">
    <div class="card-group">
      <div class="card" *ngFor="let piano of data">
        <div class="card-image">
          <img src="{{piano.img}}" alt="Piano Image">
        </div>
        <div class="card-info">
          <div class="slide-info">
            <h2>{{piano.name}}</h2>
            <div class="price" [class.sale]="piano.saleOff">{{piano.price}}</div>
            <div class="sale-off" *ngIf="piano.saleOff">{{piano.saleOff}}</div>
            <div class="description">{{piano.description}}</div>
            <div class="color">{{piano.color}}</div>
          </div>
          <div class="button-group">
            <button (click)="openEditDialog(piano.id)" class="edit-button">Edit</button>
            <button (click)="delete(piano.id)" class="delete-button">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>