<!-- <div class="container">
    <div>
        <button (click)="openDialog()">ADD NEW</button>
    </div>
    <div class="main">
      <div class="card-group">
        <div class="card" *ngFor="let piano of data">
          <div class="card-image">
            <img src="{{ piano.img }}" alt="Piano Image" />
          </div>
          <div class="card-info">
            <div class="slide-info">
              <h2>{{ piano.name }}</h2>
              <div class="price" [class.sale]="piano.saleOff">
                {{ piano.price }}
              </div>
              <div class="sale-off" *ngIf="piano.saleOff">
                {{ piano.saleOff }}
              </div>
              <div class="description">{{ piano.description }}</div>
              <div class="color">{{ piano.color }}</div>
            </div>
            <div class="button-group">
              <button (click)="openEditDialog(piano.id)" class="edit-button">
                Edit
              </button>
              <button (click)="delete(piano.id)" class="delete-button">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="btn" style="width: 100%;">
      <button class="btn-primary" (click)="openDialog()">ADD NEW</button>

    </div>

    <div class="row">
        <ng-container *ngFor="let item of data | filter:searchKey:'name'">
            <div class="card col-md-3">
                <img src="{{item.img}}" alt="">
                <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch; font-size:x-large; font-weight: bold;">{{item.name}}</h3>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <p><strong>Color:</strong> {{item.color}}</p>
                <p><strong>Quantity:</strong> {{item.quantity}}</p>
                <!-- <p class="price" [class.sale]="item.saleOff"><strong >Sale off:</strong> {{item.saleOff}}</p>
                <p class="sale-off" *ngIf="item.saleOff"><strong >Sale off:</strong> {{item.saleOff}}</p> -->
  
                <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="openEditDialog(item)">Edit</button>
                <button class="btn btn-danger" (click)="delete(item.id)">Delete</button>

            </div>
        </ng-container>
  
    </div>
  